#sets the log level, can be any from: NOTSET, DEBUG, INFO, WARNING, ERROR, CRITICAL
#(note: counter-intuitively a value of NOTSET means that everything will be logged regardless of level,
#to 'turn off' logging you should instead set this vaule to CRITICAL)
log_level=INFO

#output directory, streams are saved here
#this is handled by the python 'os.path' methods so should support relative pathing
out_dir=./

#username of streamer, e.g https://twitch.tv/cythorg -> cythorg
#formatting example: "streamer=cythorg" (without quotes)
streamer=cythorg

#defined by the python time.strftime() method
#time formatting cheat sheet at https://strftime.org/
time_format=%d-%m-%Y

#by supplying an OAuth token the script will record with the authority of your twitch account.
#for example if your account is subscribed to the streamer ads will be disabled.
#regardless of if an OAuth token is specified the 'twitch-disable-ads' flag in streamlink is still
#set and will work to the best of its ability, however without an OAuth token the recording may be
#susceptible to small periods of low quality and/or skipping.
#
#In order to get the personal OAuth token from Twitch's website which identifies your account,
#open https://twitch.tv in your web browser and after a successful login, open the developer tools
#by pressing F12 or CTRL+SHIFT+I. Then navigate to the "Console" tab or its equivalent of your web
#browser and execute the following JavaScript snippet, which reads the value of the auth-token
#cookie, if it exists:
#`document.cookie.split("; ").find(item=>item.startsWith("auth-token="))?.split("=")[1]` (only copy the code inside the ` ` marks)
#The output should look something like this: "abcdefghijklmnopqrstuvwxyz0123"
#Copy the resulting string consisting of 30 alphanumerical characters without any quotations.
#
#for credit for the above explaination and more information, follow this link:
#https://streamlink.github.io/cli/plugins/twitch.html
#
#formatting example: "oauth_token=abcdefghijklmnopqrstuvwxyz0123" (without quotes)
oauth_token=

#other options
#(true: 1 false: 0)
#record streams labeled as 're-runs' by the broadcaster?
record_reruns=0
#disable recording hosts and raids?
#(note: if set to 0, may cause strange behaviour)
disable_hosting=1
#if for some reason you would like to record ads in your stream, feel free to change this, I do not 
#know why you would do this to yourself 
disable_ads=1